@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    //ViewBag.Title → page(Index) ka title hy 
    ViewBag.Title = "Index";
}

<h2>Data controller index</h2>
