@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<main> 
    <h3>View Data: @ViewData["msg"]</h3>
    <h2> View Bag: @ViewBag.Data</h2>
    <h2>Temp Data: @TempData["message"]</h2>
</main>